#leader-board-page {
    background-color: white;
    grid-column: col-start 1 / span 16;
    grid-row: 2;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
}

#leader-board-container{
    padding-top: 2rem;
    grid-column: 3 / span 12;
    min-height: 20rem;
    margin: 0px auto;
    text-align: center;
}

#leader-board-note{
    text-align: left;
    font-size: 0.75rem;
    color: darkblue;
}