.modal-form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    background-color: white;
    border: 0.1rem solid lightgrey;
    border-radius: 1rem;
    padding: 1rem 2rem 2rem 2rem;
  } 
  
.modal-backdrop{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-x-close{
    text-align: right;
    color: grey;
    cursor: pointer;
    user-select: none;
}