  #mobile-header-nav-menu{
    display: none;
  }

  #header-logout a{
    text-decoration: none;
    color: white;
  }
  
  #header-nav-bar {
    display: flex;
    grid-column: col-start 3 / span 10;
    grid-row: 2;
    height: 4rem;
  }

  #desktop-header-nav-menu{
    display: inherit;
    height: 100%;
    width: 100%;
  }

  #header-logout {
    grid-column: col-start 13 / span 1;
  }

  #header-user-settings{
    grid-column: col-start 12 / span 1;
  }

  .header-button{
    grid-row: 2;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    min-width: 5rem;
    color: white;
    cursor: pointer;
  }

  .nav-header-item {
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  .nav-header-item:hover {
    background-color: darkgreen;
  }

  .nav-header-item-selected {
    border-style: solid;
    border-width: 0 0 0.25rem 0;
    border-color: lightgreen;
  }
  
  .nav-header-item a {
    text-decoration: none;
    color: white;
  }
  
  .github-link {
    content: url("../assets/GitHub-Mark-32px.png");
    display: inline;
  }

  .check.icon {
    color: white;
    position: absolute;
    margin-left: 0.25rem;
    margin-top: 0.4rem;
    width: 1rem;
    height: 0.4rem;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  @media only screen and (max-width: 1320px) {

  #mobile-nav-menu-button{
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  #mobile-nav-menu-button:hover{
    background-color: light-blue;
    opacity: 0.7;
  }

  #mobile-header-nav-menu{
    display: inline-block;
  }

  #desktop-header-nav-menu{
    display: none;
  }

  #mobile-header-nav-popup{
    display: block;
    position: fixed;
    height: 100%;
    width: 15rem;
    top: 0;
    left: 0;
    background: white;
    border-right: var(--standard-border-size) solid lightgrey;
    box-sizing: content-box;
    z-index: 99999;
  }
  
  #mobile-header-nav-popup-close{
    padding: 1rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }

  .nav-header-item {
      display: block;
      text-align: center;
      width: 100%;
      height: 5rem;
      line-height: 2rem;
      box-sizing: border-box;
      background-color: white;
      padding: 1rem;
      border-top: solid var(--standard-border-size) lightgrey;
  }

  .nav-header-item:hover {
    background-color: white;
  }

  .nav-header-item a {
    color: black;
  }

  .nav-header-item:last-child{
    border-bottom: solid var(--standard-border-size) lightgrey;
  }

  .nav-header-item-selected {
      border-style: solid;
      border-width: 0 0 0.25rem 0;
      border-color: rgb(39, 116, 39);
  }
}