#login-overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 100;
    position: fixed;
}

#login-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -125px;
    z-index: 200;
    background-color: white;
    border-radius: 5px;
    border: 5px solid white;
}

#sign-in-container {
    height: 250px;
    width: 300px;
    text-align: center;
}

#sign-in-header {
    color: var(--dark-picton-blue);
    font-weight: bold;
}

.sign-in-button-list{
   display: flex;
   flex-direction: column;
   align-items: center;

}

.sign-in-button {
    height: 46px;
    width: 191px;
    cursor: pointer;
}
#sign-in-test-button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#login-modal-error-message{
    color: red;
    margin-top: 10px;
}

.google-sign-in-button {
    background-image: url(../assets/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png);
}

.google-sign-in-button:active {
    background-image: url(../assets/google_signin_buttons/web/1x/btn_google_signin_dark_pressed_web.png);
}
