#portfolio-symbol-list {
    padding: 0;
    list-style-type: none;
}

.portfolio-symbol {
    height: 50px;
    width: 700px;
    border: 1px solid var(--pumice);
    border-bottom: none;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    box-sizing:border-box;
}

.portfolio-symbol-name{
    flex: 1;
}

.portfolio-symbol-value {
    flex: 1;
}

.portfolio-symbol-change {
    flex: 1;
}

.portfolio-symbol-actions {
    flex: 2;
    text-align: right;
}

.portfolio-symbol:hover  ul {
    visibility: visible;
}
.portfolio-symbol-actions ul {
    display: inline-block;
    visibility: hidden;
    padding: 0;
    list-style-type: none;
}



.portfolio-symbol-actions li {
    display: inline-block;
    margin-right: 10px;
}

.portfolio-symbol:hover {
    background-color: antiquewhite;
}

.portfolio-symbol:last-child {
    border-bottom: 1px solid var(--pumice);
}


