:root {
  --lightorangegrey: #f1ebe4;
  --positive-delta: limegreen;
  --negative-delta: red;
  --standard-border-size: 0.1rem;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  grid-gap: 20px;
  grid-template-rows: auto 1fr auto;
}

.standard-border{
  border: 0.1rem solid lightgrey;
}

.standard-border-radius{
  border-radius: 0.5rem;
}

.large-border-radius{
  border-radius: 1rem;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hidden{
  visibility: hidden;
}

.positive-delta{
  color: 	var(--positive-delta);
}

.negative-delta{
  color: var(--negative-delta);
}

.form-input{
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 0.1rem solid grey;
  border-radius: 0.5rem;
}

.submit-input{
  width: 35%;
  height: 2rem;
  box-sizing: border-box;
  background-color: DodgerBlue;
  color: white;
  border: none;
  font-weight: bold;
}