:root {
  --lightorangegrey: #f1ebe4;
  --positive-delta: limegreen;
  --negative-delta: red;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  grid-gap: 20px;
  grid-template-rows: auto 1fr auto;
}

/* LAYOUT */
#app-header {
  background-color: limegreen;
  grid-column: col-start 1 / span  16;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
}

.standard-border{
  border: 0.1rem solid lightgrey;
}

.standard-border-radius{
  border-radius: 0.5rem;
}

.large-border-radius{
  border-radius: 1rem;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hidden{
  visibility: hidden;
}

.positive-delta{
  color: 	var(--positive-delta);
}

.negative-delta{
  color: var(--negative-delta);
}
