#members-page{
    background-color: white;
    grid-column: col-start 1 / span 16;
    grid-row: 2;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
}

#members-page-content{
    grid-column: 3 / span 12;
    grid-row: 1;
}

#member-page-friend-activity-box-header{
    margin-left: 1rem;
}

#member-page-friend-activity-box-container{
    grid-column: 13 / span 3;
    grid-row: 1;
    height: 45rem;
}