.member{
    padding: 1rem;
    width: 14rem;
    height: 3.5rem;
    margin: 1rem;
    display: inline-block;
    box-sizing: content-box;
    white-space: nowrap;
}

.member-content{
    text-overflow: ellipsis;
    overflow-x: hidden;
    line-height: 3.5rem;
}

.member a{
    display: inline;
}

.member-avatar{
    font-size: 2rem;
    margin-right: 1rem;
}