#portfolio-page {
    background-color: white;
    grid-column: col-start 1 / span 16;
    grid-row: 2;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
    grid-template-rows: auto min-content 1fr;
}

#portfolio-stock-search-container{
    grid-column: 3 / span 5;
    grid-row: 1;
}

#portfolio-ticker-tape-container{
    padding-top: 2rem;
    grid-column: 3 / span 6;
    grid-row: 2;
    height: 4rem;
}

#portfolio-chatbox-container{
    padding-top: 2rem;
    grid-column: 10 / span 4;
    grid-row: 2;
    height: 40rem;
}

#portfolio-container{
    padding-top: 2rem;
    grid-column: 3 / span 7;
    grid-row: 3;
}

#portfolio-chatbox-header{
    margin-left: 1rem;
}