#portfolio{
    width: 50rem;
    border-spacing: 0;
    border-collapse: separate;
    --portfolio-border-size: 0.1rem;
    --portfolio-border-radius-size: 1rem;
}

.portfolio-column{
    text-align: center;
}

.portfolio-row{
    overflow: hidden;
    height: 5rem;
}

.portfolio-row-spacing{
    height: 2rem;
}


.portfolio-header{
    height: 6rem;
}

.portfolio-row-options{
    text-align: right;
    padding-right: 2rem;
}

.portfolio-row-options-field{
    visibility: hidden;
    text-align: right;
}

.portfolio-row:hover .portfolio-row-options-field{
    visibility: visible;
}

#portfolio .portfolio-stock:nth-child(odd){
    background-color: var(--lightorangegrey);
}


/* Table bordering rules */
#portfolio td:first-child{
    border-left: var(--portfolio-border-size) solid lightgrey;
}

#portfolio td:last-child{
    border-right: var(--portfolio-border-size) solid lightgrey;
}

#portfolio tr:nth-child(3) td{
    border-top: var(--portfolio-border-size) solid lightgrey;
}

#portfolio tr:last-child td{
    border-bottom: var(--portfolio-border-size) solid lightgrey;
}

#portfolio tr:nth-child(3) td:first-child{
    border-top-left-radius: var(--portfolio-border-radius-size);
}

#portfolio tr:nth-child(3) td:last-child{
    border-top-right-radius: var(--portfolio-border-radius-size);
}

#portfolio tr:last-child td:first-child{
    border-bottom-left-radius: var(--portfolio-border-radius-size);
}

#portfolio tr:last-child td:last-child{
    border-bottom-right-radius: var(--portfolio-border-radius-size);
}

#portfolio th{
    border-width: var(--portfolio-border-size) 0;
    border-style: solid;
    border-color: lightgrey;
}

#portfolio th:first-child{
    border-left: var(--portfolio-border-size) solid lightgrey;
}

#portfolio th:last-child{
    border-right: var(--portfolio-border-size) solid lightgrey;
}

