#faq-page {
    background-color: white;
    grid-column: col-start 1 / span 16;
    grid-row: 2;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
}

#faq-container{
    padding-top: 2rem;
    grid-column: 3 / span 12;
    min-height: 20rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.faq-header{
    color: purple;
}

.faq-main-header{
    color: purple;
    text-align: center;
    margin: 2rem;
}

#faq-questions{
    text-align: left;
    padding: 1rem;
    flex-shrink: 0;
}

#faq-questions ul{
    font-weight: bold;
}

#faq-answers{
    padding: 2rem;
    text-align: left;
    flex-grow: 1;
}

#faq-portfolio-options-image{
    content:url(../../assets/PortfolioOptions.png);
    width: 800px;
    height: 150px;
    margin: 2rem;
}

@media only screen and (max-width: 1320px) {

    #faq-container{
        flex-direction: column;
    }

    #faq-answers{
        margin-top: 5rem;
    }

    #faq-portfolio-options-image{
        width: 600px;
        height: 113px;
    }
}
  