.chat-message{
    text-align: left;
    margin-top: 1rem;
    box-sizing: border-box;
    white-space: pre-line;
    width: 100%;
}

.chat-align-left{
    text-align: left;
}

.chat-align-right{
    text-align: right;
}

.chat-message-info{
    text-align: left;
}

.chat-user-info-name{
    font-weight: bold;
}

.chat-user-info-date-created{
    margin-left: 1rem;
    font-size: 0.8rem;
    color: grey;
}

.chat-message-text{
    overflow-wrap: break-word;
    word-wrap: break-word;

}

.chat-message-error-sent-icon{
    color: red;
    margin-left: 2rem;
}

.chat-message-sent{
    opacity: 1;
}

.chat-message-pending{
    opacity: 0.4;
}