#chat-input-bar{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: var(--lightorangegrey);
    z-index: 800;
}

#chat-input-bar-text-field{
    min-height: 2rem;
    background-color: white;
    box-sizing: border-box;
    flex-grow: 1;
    max-width: calc(100% - 8rem);
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.chat-input-bar-button{
    width: 4rem;
    font-size: 2rem;
    text-align: center;
    opacity: 0.6;
    flex-shrink: 0;
    cursor: pointer;
}
